body {
  margin: 0px;
  padding: 20px 10px 20px 30px;
  font: 14px Arial;
  background-color: #000;
  text-align:center;
}


h1 {
	text-align:center;
	color: #bd8a1e;
}

input[type='search'] {
	display: block;
	margin: 2% auto;
	width: 460px;
  text-align: center;
}


.gallery {
  width: 100%;
  margin: 0px auto;
  max-width: 980px;
}


#search {
  text-align: center;
}
ul li {
	display: inline-block;
	margin:10px;
}


#overlay {
  color: white;
  font-size: 20px;
  display: none;
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	background:rgba(0,0,0,0.7);
	text-align: center;
}

.overlayContainer {
	position: absolute;
	left:20%;
	top: 20%;
	bottom: 20%;
	right: 20%;
	background: white;
	border-radius: 10px;

}

.overlayContainer img {
	width: 100%;
	height: 100%;
  border-radius: 10px;
}


#next{
  display: none;
  position: absolute;
  left: 5%;
  top: 50%;
  bottom: 50%;
  z-index: 1000000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


#previous{
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  bottom: 50%;
  z-index: 1000000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#caption {
	position: absolute;
	top: 90%;
  left:20%;
  right: 20%;
}

#closer {
	color: white;
  font-size: 16px;
  }
/*
#overlay {
  color: white;
  font-size: 20px;
  display: none;
	position: fixed;
	top: 15%;
	left: 10%;
	bottom: 10%;
	right: 10%;
	background:rgba(0,0,0,0.7);
	text-align: center;
}


.overlayContainer {
	position: absolute;
	left:10%;
	top: 10%;
	bottom: 10%;
	right: 10%;
	background: white;
	border-radius: 10px;

}

.overlayContainer img {
	width: 100%;
	height: 100%;
}


#next{
	position: absolute;
	top: 50%;
	right: 5%;

}

#previous{
	position: absolute;
	top: 50%;
	left: 5%;
}

.closer {
	color: white;

}

.caption {
	position: absolute;
	top: 90%;
	left: 50%;
}*/
